/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Montserrat, sans-serif;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body p, h1, h2, h3, h4, h5, h6 {
    cursor: context-menu;
}

header {
     
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: rgba(18, 18, 18, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    backdrop-filter: blur(6px);
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    position: relative;
    border: 3px solid rgba(139, 12, 139, 0.7); /* Фиолетовая обводка вокруг аватарки */
    padding: 2px; /* Отступ между аватаркой и обводкой */
}


.avatar:hover {
    transform: scale(1.1);
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

nav a:hover {
    color: #ffffff;
}

nav a:visited {
    color: #ffffff;
}

.rotated-square {
    width: 500px;
    height: 500px;
    background-color: #800080;
    border-radius: 70px;
    position: absolute;
    top: 600px;
    left: 80%;
    transform: rotate(25deg);
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 0 50px 20px rgba(128, 0, 128, 0.9);
}

.rotated-square:hover {
    transform: rotate(30deg);
}

.rotated-avatar {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: -300px;
    opacity: 0.1;
    transition: all 0.3s ease-in-out;
    color: black;
}

.rotated-avatar:hover {
    opacity: 0.3;
    transform: scale(0.99);
}

.text-container {
     
    position: absolute;
    top: 300px;
    text-align: left;
    margin-left: 4%;
}

.title {
     
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}

.description a:visited {
    color: #ffffff;
}

.description {
    font-size: 16px;
}


.content {
    flex: 1;
    padding-top: 60px; /* Space for fixed header */
    padding-bottom: 80px; /* Space for fixed footer */ 
    text-align: left; /* Consistent text alignment */
}


footer {
    /* background-color: #121212; */
    color: #ffffff;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 35px;
    padding-left: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Оставляем это для колонки справа */
    align-items: flex-end; /* Центрируем элементы по вертикали */
    z-index: 1000;
}

.footer-content {
    display: flex;
    justify-content: flex-end; /* Перемещаем колонки вправо */
    flex-grow: 1; /* Позволяем колонкам занимать доступное пространство */
}

.footer-section {
    margin-left: 40px;
}

.footer-section a {
    text-decoration: none;
    color: #ffffff;
}


.footer-section a:visited {
    color: #ffffff;
}


.footer-section a:hover {
    color: #ffffff; 
}

.footer-section h4 {
     
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin: 5px 0;
}

.footer-description {
     
    margin-top: 20px;
    font-size: 12px;
    text-align: left;
    color: #494949;
    position: absolute;
    bottom: 15px;
    left: 20px;
}

.footer-description a:visited {
    color: #494949;
}

.footer-description a {
    color: #494949;
}

.star-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.text-container-star {
    position: absolute;
    top: 740px;
    right: 0;
    text-align: right;
    margin-right: 4%;
}

.title-star {
     
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}

.description-star {
    font-size: 16px;
}
.content2 {
    flex: 1;
    padding-top: 60px;
    padding-bottom: 80px;
    text-align: left;
    margin-top: 550px;
}
.rotated-avatar2 {

    position: relative;
    top: 100px;
}

.text3 {
    top: 1150px;
}

.text3 a{
    color: #ffffff;
}

.button52 {
    display: inline-flex;
    background-color: #800080;
    border-radius: 20px;
    box-shadow: 0 0 20px 5px rgba(128, 0, 128, 0.9);
    opacity: 1.0;
    transition: all 0.2s ease-in-out;
    text-align: center;
    align-items: center;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
}

.button52:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

.description, .title, .text-container-star {
    width: 500px;
}