* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure body takes up full viewport height */
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px; /* Reduced padding */
    background-color: rgba(18, 18, 18, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    backdrop-filter: blur(6px); /* Applied blur to header */
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
    position: relative;
    border: 3px solid rgba(139, 12, 139, 0.7); /* Фиолетовая обводка вокруг аватарки */
    padding: 2px; /* Отступ между аватаркой и обводкой */
}


.avatar:hover {
    transform: scale(1.1);
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: #ffffff; /* Цвет ссылок */
    font-size: 16px;
}

/* Убираем изменение цвета при наведении */
nav a:hover {
    color: #ffffff; /* Цвет при наведении */
}

/* Убираем фиолетовый цвет для посещённых ссылок */
nav a:visited {
    color: #ffffff; /* Цвет для посещённых ссылок */
}

.rotated-square {
    width: 500px;
    height: 500px;
    background-color: #800080;
    border-radius: 70px;
    position: absolute;
    top: 600px;
    left: 80%;
    transform: rotate(25deg);
    transition: transform 0.3s ease;
    box-shadow: 0 0 50px 20px rgba(128, 0, 128, 0.9);
}

.rotated-square:hover {
    transform: rotate(30deg);
}

.rotated-avatar {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: -25%;
    opacity: 0.1;
    transition: opacity 0.3s ease;
    color: black; /* This doesn't visually do anything since it's a background element */
}

.rotated-avatar:hover {
    opacity: 0.3;
}

.text-container {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 300px;
    /* left: 30%; */
    /* transform: translate(-50%, -50%); */
    text-align: left;
    margin-left: 4%;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 10px;
}

.description {
    font-size: 16px;
}


.content {
    flex: 1;
    padding-top: 60px; /* Space for fixed header */
    padding-bottom: 80px; /* Space for fixed footer */ 
    text-align: left; /* Consistent text alignment */
}


footer {
    /* background-color: #121212; */
    color: #ffffff;
    padding: 20px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Оставляем это для колонки справа */
    align-items: flex-end; /* Центрируем элементы по вертикали */
    z-index: 1000;
}

.footer-content {
    display: flex;
    justify-content: flex-end; /* Перемещаем колонки вправо */
    flex-grow: 1; /* Позволяем колонкам занимать доступное пространство */
}

.footer-section {
    margin-left: 40px;
}

.footer-section a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #ffffff; /* Цвет ссылок */
}

/* Убираем фиолетовый цвет для посещённых ссылок в футере */
.footer-section a:visited {
    color: #ffffff; /* Цвет для посещённых ссылок */
}

/* Убираем изменение цвета при наведении на ссылки в футере */
.footer-section a:hover {
    color: #ffffff; /* Цвет при наведении */
}

.footer-section h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin: 5px 0;
}

.footer-description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    font-size: 12px;
    text-align: left; /* Выровнять текст влево */
    color: #494949;
    position: absolute; /* Фиксируем позицию описания */
    bottom: 20px; /* Отступ снизу */
    left: 20px; /* Отступ слева */
}

.footer-description a:visited {
    color: #494949;
}

.star-container {
    /* position: relative; */
    display: flex;
    align-items: center;
    margin-top: 50px; /* Отступ сверху для разделения */
}

.text-container-star {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    top: 800px;
    left: 35%;
    /* transform: translate(-50%, -50%); */
    text-align: right;
    margin-right: 4%;
}

.title-star {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px; /* Размер заголовка */
    font-weight: 800;
    margin-bottom: 10px;
}

.description-star {
    font-size: 16px; /* Размер описания */
}
.content2 {
    flex: 1;
    padding-top: 60px; /* Space for fixed header */
    padding-bottom: 80px; /* Space for fixed footer */ 
    text-align: left; /* Consistent text alignment */
    margin-top: 550px;
}
.rotated-avatar2 {
    /* margin-top: 300px; */
    position: relative;
    top: 100px;
}

.text3 {
    top: 1150px;
}
